<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803461642233-99voaha2mnulp6aa81sg0s9mktahk5kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803461642233-99voaha2mnulp6aa81sg0s9mktahk5kj</string>
	<key>API_KEY</key>
	<string>AIzaSyBRorunVpXQs9qYpUEb285BpcWzlUa8uQU</string>
	<key>GCM_SENDER_ID</key>
	<string>803461642233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thedeck.thedeck</string>
	<key>PROJECT_ID</key>
	<string>the-deck-ff09d</string>
	<key>STORAGE_BUCKET</key>
	<string>the-deck-ff09d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803461642233:ios:0aa82650a67e087f5f2f28</string>
	<key>DATABASE_URL</key>
	<string>https://the-deck-ff09d-default-rtdb.firebaseio.com</string>
</dict>
</plist>